global
    maxconn 50000

defaults
    mode http
    timeout connect 1s
    timeout client  10s
    timeout server  10s

frontend http
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option httpchk GET /ready
    server api1 /tmp/sockets/api1.sock check inter 2s
    server api2 /tmp/sockets/api2.sock check inter 2s
