global
    maxconn 50000

defaults
    mode http
    timeout connect 1s
    timeout client  10s
    timeout server  10s
    option http-server-close
    option forwardfor

frontend http
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    server api1 unix@/tmp/sockets/api1.sock check inter 1s
    server api2 unix@/tmp/sockets/api2.sock check inter 1s
